.playlist-songs{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.playlist-songs ul{
	list-style: none;
	display: flex;
	flex-direction: column;
}

	.playlist-songs li{
		@apply mb-2.5;
	}