div.container_PlaylistRecommendedTracks{
	text-align: left;
}

	div.container_PlaylistRecommendedTracks li.spotify-recommendation{
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: space-between;
	}

		div.container_PlaylistRecommendedTracks li.spotify-recommendation div.spotify-recommendation-actions{
			vertical-align: middle;
		}