@import "../../tailwind-components.css";

div.PlaylistRecommendedTracks-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

	div.PlaylistRecommendedTracks-container li.spotify-recommendation{
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: space-between;
	}

		div.PlaylistRecommendedTracks-container li.spotify-recommendation div.spotify-recommendation-actions{
			vertical-align: middle;
		}
