@import "tailwindcss";
@import '../tailwind-components.css';
@import '../components/CreateSongeloPlaylistForm/CreateSongeloPlaylistForm.css';
@import '../components/ListSongeloPlaylistSongs/ListSongeloPlaylistSongs.css';
@import '../components/Matchup/Matchup.css';
@import '../components/PlaylistRecommendedTracks/PlaylistRecommendedTracks.css';
@import '../components/SearchSpotify/SearchSpotify.css';
@import '../components/Song/Song.css';
@import '../components/SongeloPlaylistsDropdown/SongeloPlaylistsDropdown.css';
@import '../components/SongeloPlaylistViewer/SongeloPlaylistViewer.css';
@import '../components/TopMenu/TopMenu.css';
@import '../components/TopTracks/TopTracks.css';


/* @import 'fonts.css' layer(base); */
/* @import 'base.css' layer(base); */
/* @import 'utilities.css' layer(utilities); */
/* @import 'components.css' layer(components); */

@theme{
  /* based off of this color kit: https://colorkit.co/color/6683b3/ */
  --color-primary: #6683b3;

  --color-darker-1:#58719b;
  --color-darker-2:#4a6084;
  --color-darker-3:#3c4f6e;
  --color-darker-4:#2f3f58;
  --color-darker-5:#232f43;
  --color-darkest: #17202f;

  --color-lighter-1: #748fbb;
  --color-lighter-2: #839bc3;
  --color-lighter-3: #92a7ca;
  --color-lighter-4: #a1b3d2;
  --color-lighter-5: #b0c0da;
  --color-lighter-6: #c0cce1;
  --color-lighter-7: #cfd9e9;
  --color-lightest: #dfe5f0;

  /* these colors are the tetrad of the primary */
  --color-success: #66b36f;
  --color-danger: #b366a9;
  --color-neutral: #b39666

  /* different hues */
  --color-hue-left-4: #b3669d;
  --color-hue-left-3: #a966b3;
  --color-hue-left-2: #8966b3;
  --color-hue-left-1: #6966b3;
  --color-hue-right-1: #66a3b3;
  --color-hue-right-2: #66b3a3;
  --color-hue-right-3: #66b383;
  --color-hue-right-4: #69b366;
}



#root {
	
}

body {
	background-color: var(--color-primary); 
	color: var(--color-lightest);
	margin: 0;
	padding: 0;
}

h2.page-header{
	@apply text-2xl mb-6;
}

.logged-in-user-container {
  @apply max-w-[480px] mx-auto text-center;
	display: flex;
	flex-direction: column; /* Stack items vertically */
	gap: 0px; 
	
	font-family: Arial, sans-serif;
}

.main-content {
	display: flex;
	flex-direction: initial;
	flex: 2; /* Allow it to take up more space compared to the left panel */
	padding: 20px;
}

.left-panel {
	display: flex;
	flex-direction: column;
	gap: 15px; /* Add spacing between elements in the left panel */
	flex: 1; /* Allow it to grow proportionally */
	max-width: 300px; /* Set a width limit for the panel */
}

.center-content{
	display: flex;
	flex: 2;
}

.login-button{
	margin:20px;
	font-size: 16px;
	padding:10px 20px;
	cursor: pointer;
}