.top-menu {
	padding: 10px;
  }

  .top-menu .nav-top{
	display:flex;
	justify-content: space-between;
  }

  .top-menu .page-title{
	flex-grow: 1;
	text-align: center;
	margin-left:38px;
	
  }
  
  .top-menu .menu-toggle {
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	width: 38px;
  }
  
  .top-menu .menu-items {
	display: none;
	text-align: right;
	flex-direction: column;
	margin-top: 10px;
  }
  
  .top-menu .menu-items.open {
	display: flex;
  }
  
  .top-menu .menu-items a {
	text-decoration: none;
	color:white;
	padding: 10px 20px;
  }

