/* TopMenu.css */
@import "tailwindcss";
@reference "../../app/App.css";

.top-menu {
	padding: 10px;
  }

  .top-menu .nav-top{
	display:flex;
	justify-content: space-between;
  }

  .top-menu .page-title{
	flex-grow: 1;
	text-align: center;
	margin-left:38px;
	@apply text-3xl;
	
  }
  
  .top-menu .menu-toggle {
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	width: 38px;
  }
  
  .top-menu .menu-items {
	display: none;
	text-align: right;
	flex-direction: column;
	margin-top: 10px;
  }
  
  .top-menu .menu-items.open {
	display: flex;
  }
  
  .top-menu .menu-items a {
	@apply text-lightest;
	text-decoration: none;
	padding: 10px 20px;
  }
  
  .top-menu .menu-items a:hover {
	/* background-color: #555; */
	@apply bg-darker-4;
  }
  

  .logged-out-page-title{
	@apply text-6xl text-darkest m-7;
  }