.song-container{
	display:flex;
	padding:0;
	background-color: #f9f9f9;
	border:1px solid #ccc;
	min-width:300px;
	min-height:100px;
}

	.song-container .album-cover-container{
		width: 30%;
	}

	.song-container .album-cover{
		height: 100%;
		background-size: cover;
		background-position:center;
		background-repeat: no-repeat;
	}

		.song-container .album-cover:after{
			display:block;
			content: "";
			padding-bottom:100%;
		}

	.track-info{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding:5px;
		text-align: left;
		gap:5px;
	}

		.track-info .song, .track-info .artist{
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 150px;
		}

		.track-info .score{
			font-size: 0.8em;
			opacity: 0.8;
		}

		.track-info .song{
			font-weight: bold;
		}

		.track-info .artist{
			opacity: 0.9;
		}

		.track-info .spotify-link{
			cursor: pointer;
			text-decoration: none;
		}

		.track-info .spotify-link:hover{
			background-color: #ccc;
			opacity: 0.75;
		}


.add-to-playlist-container{
}
	.add-to-playlist-container a{
		display: block;
		padding:5px;	
		text-decoration: none;
		background-color: #ccc;
	}

	.add-to-playlist-container a:hover{
		opacity: 0.75;
	}

	.add-to-playlist-container a.disabled{
		pointer-events: none;
	}