.show-dropdown-toggler{
	margin-left:10px;
	margin-right:10px;
}

/* Container to keep the cancel button and form grouped */
.new-playlist-container {
	display: flex;
	flex-direction: column;
	align-items: right;
	gap: 1rem;
  }

  .cancel-button-container{
	max-width:400px;
	padding-left:2rem;
	padding-right:2rem;
  }
  

  /* Create Playlist button */
  .create-playlist-button {
	padding: 10px 15px;
	font-size: 1rem;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
  }
  
  .create-playlist-button:hover {
	opacity: 0.8;
  }