@import "tailwindcss";
@reference "../../app/App.css";

.show-dropdown-toggler{
	margin-left:10px;
	margin-right:10px;
}

/* Container to keep the cancel button and form grouped */
.new-playlist-container {
	display: flex;
	flex-direction: column;
	align-items: right;
	gap: 1rem;
	@apply m-2 mt-4;
  }

  .cancel-button-container{
	max-width:400px;
	@apply text-right;
	padding-left:2rem;
	padding-right:2rem;
  }
  
	/* Cancel button styling */
	.cancel-button {
		@apply bg-red-700 text-lightest rounded-md p-1.5;
	}
  
  /* Create Playlist button */
  .create-playlist-button {
	background: #1DB954;
	color: #fff;
	padding: 10px 15px;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	display: flex;
	align-items: center;
	gap: 0.5rem; /* Space between icon and text */
  }
  
  .create-playlist-button:hover {
	background: #17a74b;
  }
  